footer{
    padding: 100px 0;
    color: $font-color;

    .conteiner{
        width: 87%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .logo{
            width: 35%;
            display: flex;

            img{
                height: 70px;
                padding-right: 20px;
            }

            p{
                font-size: 18px;
                font-weight: bold;

                a{
                    text-decoration: none;
                }
            }
        }

        .list{
            width: 65%;
            display: flex;

            ul{
                width: 20%;
                margin: 0 10px;
                li:first-of-type{
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }

                li{
                    font-size: 14px;
                    list-style-type: none;
                    margin-bottom: 10px;
                    line-height: 30px;

                    a{
                        text-decoration: none;
                        color: $font-color;

                        &:hover{
                            color: $a-color;
                        }
                    }
                }
            }
        }
    }
}
