* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.button a {
  color: white;
  text-decoration: none;
  background-color: #551a8b;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 15px;
  display: inline-block;
}

.button a:hover {
  background-color: darkblue;
  color: white;
}

.button a:nth-child(2) {
  margin-left: 15px;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

header .conteiner {
  width: 87%;
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-left a {
  display: flex;
  align-items: center;
}

header .header-left img {
  height: 50px;
  padding-right: 10px;
}

header .header-right a {
  padding: 0 20px;
}

header .header-right a:hover {
  color: #551a8b;
}

header .header-right a:last-child {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 20px;
  color: #551a8b;
}

header .header-right a:last-child img {
  height: 25px;
  vertical-align: middle;
  padding-right: 5px;
}

header .header-right a:last-child:hover {
  background-color: #551a8b;
  color: white;
}

main .jumbotron .conteiner {
  width: 87%;
  margin: auto;
  padding: 100px 0;
  display: flex;
}

main .jumbotron .Jumbotron-left {
  width: 45%;
  color: #58402c;
}

main .jumbotron .Jumbotron-left h1 {
  font-size: 50px;
  line-height: 80px;
  margin-bottom: 50px;
}

main .jumbotron .Jumbotron-left p {
  font-size: 30px;
  margin-bottom: 50px;
}

main .jumbotron .Jumbotron-left p:last-of-type {
  margin-top: 20px;
}

main .jumbotron .Jumbotron-left p:last-of-type a {
  text-decoration: none;
  font-size: 16px;
  color: #58402c;
}

main .jumbotron .Jumbotron-right {
  width: 55%;
  padding-left: 50px;
}

main .jumbotron .Jumbotron-right img {
  height: 425px;
}

main .traditional,
main .modern {
  text-align: center;
  background-color: #ffe7d2;
}

main .traditional .conteiner,
main .modern .conteiner {
  width: 87%;
  margin: auto;
  padding: 90px 250px;
  padding-bottom: 0;
  border-bottom: 1px solid grey;
}

main .traditional p,
main .modern p {
  font-size: 30px;
  margin-bottom: 60px;
}

main .traditional .wrapper,
main .modern .wrapper {
  display: flex;
}

main .traditional .wrapper .images p,
main .modern .wrapper .images p {
  font-size: 20px;
}

main .traditional .wrapper .images img,
main .modern .wrapper .images img {
  height: 100px;
  margin: 40px 0;
}

main .traditional img,
main .modern img {
  height: 350px;
  margin: 100px 0;
}

main .modern .conteiner {
  border-bottom: none;
  padding-bottom: 50px;
}

main .feedback,
main .reviews {
  padding: 100px 0;
  display: flex;
}

main .feedback .img-left,
main .reviews .img-left {
  width: 50%;
}

main .feedback .img-left img,
main .reviews .img-left img {
  height: 550px;
  position: absolute;
  left: -130px;
}

main .feedback .text-right,
main .reviews .text-right {
  width: 35%;
  color: #58402c;
}

main .feedback .text-right p,
main .reviews .text-right p {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 50px;
}

main .feedback .text-right p:last-of-type,
main .reviews .text-right p:last-of-type {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 30px;
}

main .feedback .text-right a,
main .reviews .text-right a {
  display: block;
  margin-bottom: 50px;
  font-size: 25px;
  text-decoration: none;
}

main .feedback .text-right img,
main .reviews .text-right img {
  height: 250px;
  padding-left: 50px;
}

main .surveys,
main .teammates {
  padding: 100px 0;
  display: flex;
  justify-content: flex-end;
}

main .surveys .text-left,
main .teammates .text-left {
  width: 35%;
  color: #58402c;
}

main .surveys .text-left p,
main .teammates .text-left p {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 50px;
}

main .surveys .text-left p:last-of-type,
main .teammates .text-left p:last-of-type {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 30px;
}

main .surveys .text-left a,
main .teammates .text-left a {
  display: block;
  margin-bottom: 50px;
  font-size: 25px;
  text-decoration: none;
}

main .surveys .text-left img,
main .teammates .text-left img {
  height: 250px;
  padding-left: 50px;
}

main .surveys .img-right,
main .teammates .img-right {
  width: 50%;
}

main .surveys .img-right img,
main .teammates .img-right img {
  height: 500px;
  position: absolute;
  right: 0;
}

main .reviews .img-left img {
  left: -150px;
}

main .teammates .img-right img {
  height: 600px;
}

main .start {
  text-align: center;
  color: #58402c;
  background-color: #ffe7d2;
  padding: 100px 0;
}

main .start .conteiner {
  width: 50%;
  margin: auto;
}

main .start .conteiner h2 {
  font-size: 40px;
  margin-bottom: 50px;
}

main .start .conteiner p:first-of-type {
  text-align: left;
  font-size: 18px;
  background-color: white;
  padding: 20px 35px;
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 50px;
}

main .start .conteiner p:last-of-type {
  margin-top: 20px;
}

main .start .conteiner p:last-of-type a {
  text-decoration: none;
  font-size: 16px;
  color: #58402c;
}

footer {
  padding: 100px 0;
  color: #58402c;
}

footer .conteiner {
  width: 87%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

footer .conteiner .logo {
  width: 35%;
  display: flex;
}

footer .conteiner .logo img {
  height: 70px;
  padding-right: 20px;
}

footer .conteiner .logo p {
  font-size: 18px;
  font-weight: bold;
}

footer .conteiner .logo p a {
  text-decoration: none;
}

footer .conteiner .list {
  width: 65%;
  display: flex;
}

footer .conteiner .list ul {
  width: 20%;
  margin: 0 10px;
}

footer .conteiner .list ul li:first-of-type {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer .conteiner .list ul li {
  font-size: 14px;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 30px;
}

footer .conteiner .list ul li a {
  text-decoration: none;
  color: #58402c;
}

footer .conteiner .list ul li a:hover {
  color: #551a8b;
}

